@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text|Fredericka+the+Great|Jacques+Francois+Shadow|Jacques+Francois|Source+Serif+Pro&display=swap');

html {
  font-size: 18px;
}

h1 {
  font-family: 'Jacques Francois Shadow', monospace;
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 2rem;
}

h2 {
  font-family: 'Jacques Francois', monospace;
  font-size: 1.75rem;
  margin-top: 2.5rem;
  margin-bottom: 0.25rem;
}

body {
  margin: 0 auto;
  padding: 1rem 2rem;
  font-family: 'Jacques Francois', monospace;
  text-align: center;
}

label {
  display: block;
  margin-top: 1.25rem;
}

input {
  width: 11rem;
  padding: 0.25rem;
}

button {
  border: 1px solid black;
  border-radius: 0;
  font-family: 'Jacques Francois', monospace;
  font-size: 0.9rem;
  margin-top: 1.5rem;
  padding: 0.25rem 1.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  padding: 0.25rem 0;
}

li button {
  font-size: 0.8rem;
  padding: 0.1rem 0.5rem;
  margin-left: 1rem;
}

.status, .error {
  border-width: 3px;
  border-style: solid;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.4rem 2rem;
}

.status {
  border-color: lightseagreen;
  background-color: rgba(169, 255, 201, 0.5);
  color: rgb(0, 104, 99);
}

.error {
  border-color: darkred;
  background-color: rgb(248, 211, 211);
  color: darkred;
}